/* #rotating-plate {
    width: 100px;
    height: 100px;
    position: absolute;
    animation: rotate 5s linear infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
  }
  
  @keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  .moved {
    top: 20%; b_one-pre
    left: 70%;
    transform: translate(-50%, -50%);
  }
   */
/* .moving-image {
    position: fixed;
    z-index: 10;
    width:300px !important;
}

.about-image {
    position: relative;
    z-index: 10;
} */

.Falafel_img {
}

.b_one-pre {
  color: #ffffffe8;
  font-size: 22px;
  line-height: inherit;
}

@media only screen and (min-width: 992px) {
  .b_one-pre {
    font-size: 30px;
  }
}
@media only screen and (max-width: 992px) {
  .rts-banner-main-area-swiper.banner-seven .falafelRoot img {
    position: relative;
    animation: rotateItimg 20s infinite linear;
  }
  .realImgMd {
  }
  @keyframes scaleImage {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.09);
    }
  }
}

@keyframes rotateItimg {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* @media only screen and (min-width: 992px) {
  .rts-banner-main-area-swiper1.banner-seven1 {
    background: url(../bgIndex.png), url(../bgIndex2.png);
    height: 92vh;
    background-position: 77% 5%, center center;
    background-size: 75%, cover;
    background-repeat: no-repeat, no-repeat;
    position: relative;
    z-index: 1;
    animation: shrink 15s infinite alternate;
  }
  @keyframes shrink {
    0% {
      background-size: 75%;
    }
    100% {
      background-size: 80%;
    }
  }
} */

.itemMenu {
  background: #00000070;
}
.itemMenu:hover {
  background: url(../images/3-dark.png), var(--color-primary) !important;
  transition: 0.3s;
}

.itemMenu .card-body {
  padding: 2rem;
}
.itemMenu {
  position: relative;
  background: #00000090;
}

.img-itemMenu {
  display: none;
}
.itemMenu:hover .img-itemMenu {
  display: block;
  right: -10%;
  top: -40%;
}
.itemMenu:hover h5,
.itemMenu:hover p {
  color: #111;
}
.img-itemMenu {
  display: none;
}
.itemMenu:hover .img-itemMenu {
  display: block;
  animation: rollIn 0.2s linear;
}
.rts-menu-area .grid-item {
  padding: 16px 24px;
  z-index: 1;
}

.itemMenu h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  color: #fff;
  margin: 0;
}

.itemMenu p {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}




.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.swiper-button-next, .swiper-button-prev{
  background: #ffffffd4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px;
  color: #000;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  left: 0px;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 0px;
}


.image-part {
  /* transform: scale(110%);  zoomIn */
  animation: imagepart 6s linear infinite;
}

@-webkit-keyframes imagepart {
  from {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100%{
    transform: scale(0.9);
  }
}


.Gallery .col-3 img{
  border:4px solid #fff;
}